
*{
    /*box de inicio*/
    box-sizing: border-box;
}
body{
    background-image: url(fondogris.jpg);
 
}
p{
    color: white;
    font-family: cursive;
    letter-spacing: 0.12ch;
    
}
video{

    float: right;
    border-color: rgb(23, 127, 213);
    
}
img{
    border-style: solid;
    border-color: #6c5c5c;
    clear: left;
}
strong{
    
    border-style: solid;
    border-color: rgb(114, 163, 163);
}
h1{
    text-shadow: 1px 1px 0 #4a4343, -1px 1px 0 #534a4a ,-1px 1px 0 #5b5050 ,-1px 1px 0 #6c5c5c ;
    border-style: solid;
    border-color: #28272e;
    font-size: 150px;
    color: transparent;
    background-image: linear-gradient(to left, #23221e, #585660, #2f3941, #282f2c);    
    background-clip: text;
    animation: color 10s linear infinite;
    background-size: 600%;  
}

@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}
